/* Обнуление стилей браузера */
* {
    padding: 0;
    margin: 0;
    border: 0;
  }
  
  *, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  :focus, :active {
    outline: none;
  }
  
  a:focus, a:active {
    outline: none;
  }
  
  nav, footer, header, aside {
    display: block;
  }
  
  html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    color: #6B6B6B;
    font-family: "Montserrat";
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  
  input, button, textarea {
    font-family: inherit;
  }
  
  input::-ms-clear {
    display: none;
  }
  
  button {
    cursor: pointer;
  }
  
  button::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
  
  a, a:visited {
    text-decoration: none;
    color: #6B6B6B;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  ul li {
    list-style: none;
  }
  
  img {
    vertical-align: top;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: 400;
  }
  span {
    color: red;
  }

  :root {
    --brandColor: #6CA09F;
    --textColor: #6B6B6B;
  } 
  /* --------------------------------------------------------------------- */


.wrapper {
    display: flex;
    min-height: 100%;
    overflow: hidden;
    flex-direction: column;
}

.container {
   max-width: 1170px;
   margin: 0 auto;
   padding: 0px 20px;
}

/* -------------------------------------HEADER SECTION--------------------------------- */

.header {
    background: url('img/BG/bg-pattern-2.png') repeat;
    box-shadow: 0px 6px 14px -5px rgba(0, 0, 51, 0.2);
}

.header__row {
    display: flex;
    justify-content: space-between;
    height: 130px;
    align-items: center;  
    flex-wrap: wrap;  
}

.brand {
    padding: 5px;
}

.description {
    width: 215px;
    text-align: left;
    text-transform: uppercase;
    font-weight: 550;
    line-height: 145%;
}

.ico {
    margin-right: 8px;
    width: 26px;
    height: 26px;
    align-items: flex-end;
    margin-bottom: 4px;
    padding-bottom: 4px;
}

.header__contacts {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 20px;
    padding: 16px 5px 5px 5px;
}

.e-mail span {
    color: var(--brandColor);
}

.menu__list {
    display: flex;
    align-items: center;
}

.menu__list li{
    margin-right: 30px;
}

/* link animation */

.menu__list a {
    text-decoration: none;
    background-image: linear-gradient(currentColor, var(--brandColor));
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}

.menu__list a:hover {
    background-size: 100% 2px;
}


/* -------------------------------------END OF HEADER SECTION--------------------------------- */

/* ----------------------------------------SERVICES SECTION---------------------------------- */
.services {
  margin-top: 120px;
}

.service__body {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0 auto;
}

.service__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 480px;
  height: 125px;
  border: 2px solid #C4C4C4;
  border-radius: 12px;
  margin-bottom: 24px;
}



.item__logo {
  width: 127px;
  height: 102px;
}

.item__text {
  padding: 20px;
  margin-right: 10px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  line-height: 145%;
  letter-spacing: 4.5%;
  text-align: center;
  width: 330px;
  height: 102px;
  border: 2px solid var(--brandColor);;
  border-radius: 12px;
}



/*-----------------------------Feedback form section----------------------------------- */
.back__form {
  margin: 0 auto;
  max-width: 550px; /* 550px */
  color: #6B6B6B;
  padding: 30px 0;
}
.form__body {
}
.container {
}
.form__title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 30px;
}
.form__item {
  margin-bottom: 20px;
}
/* Имена полей воода */
.form__label {
  font-size: 18px;
  display: block;
  margin-bottom: 10px;
}
.form__input {
  height: 50px;
  padding: 0 20px;
  font-size: 18px;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #C4C4C4;
  transition: all .5s ease 0s;
}
.form__input:focus {
  box-shadow: 0 0 15px var(--brandColor);
}

/* To do: Сделать красный рекваиред только после невалидных данных */

:required {                 
  box-shadow: 0 0 5px red;
}

textarea.form__input{
  min-height: 120px;
  resize: vertical;
  padding: 12px;
}



.checkbox {
}
.checkbox__input {
}
.checkbox__label {
  font-size: 16px;
  line-height: 140%;
  align-items: center;
}
.checkbox__label a {
  color: green;
}


.form__button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  height: 67px;
  border-radius: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: var(--brandColor);
  color: #fff;
  box-shadow: 0 5px 10px #456362;
  transition: background-color 0.5s ease 0s;
  position: relative;
  top: 0;
}

.form__button:hover {
  background-color: #5b8584;
}
.form__button:active {
  top: 3px;
  box-shadow: 0 2px 0px #456362;
}




















@media(max-width: 511px) {
  .item__logo {
    display: none;
  }
  .service__item {
    margin-bottom: 16px;
    min-width: 70%;
    padding: 5px;
  }
  .item__text {
    width: 330px;
    font-size: 14px;
    margin-right: 0;
  }
}